.first_line{

    height:50px;

}
.second_line{
    width:100%;
    height:60px;

}
.third_line{
    width:100%;
    height:60px;

}
.forth_line{
    width:100%;
    height:230px;
    background-color:#116686;

}
.bloc1_1{
    background-color:#1AE478;
    width:70%;
    height:50px;
    display:inline-block;
    margin-left:0px;
    margin-right:-5px;
    padding-left:0px;
    padding-right:0px;

}
.bloc1_2{
    background-color:#158EDE;
    width:30%;
    height:50px;
    display:inline-block;
    margin-left:0px;
    margin-right:-5px;
    padding-left:0px;
    padding-right:0px;

}

.bloc2_1{
    background-color:orangered;
    width:33.333%;
    height:100%;
    display:inline-block;
    margin-left:0px;
    margin-right:-5px;
    padding-left:0px;
    padding-right:0px;

}

.bloc2_2{
    background-color:orange;
    width:33.333%;
    height:100%;
    display:inline-block;
    margin-left:0px;
    margin-right:-5px;
    padding-left:0px;
    padding-right:0px;

}

.bloc2_3{
    background-color:grey;
    width:33.333%;
    height:100%;
    display:inline-block;
    margin-left:0px;
    margin-right:-5px;
    padding-left:1px;
    padding-right:0px;

}

.bloc3_1{
    background-color:orangered;
    width:33.333%;
    height:100%;
    display:inline-block;
    margin-left:0px;
    margin-right:-5px;
    padding-left:0px;
    padding-right:0px;

}

.bloc3_2{
    background-color:#F79110;
width:22.222%;
    height:100%;
    display:inline-block;
    margin-left:0px;
    margin-right:-5px;
    padding-left:0px;
    padding-right:0px;

}

.bloc3_3{
    background-color:#10F7AF;
    width:22.222%;
    height:100%;
    display:inline-block;
    margin-left:0px;
    margin-right:-5px;
    padding-left:0px;
    padding-right:0px;

}

.bloc3_4{
    background-color:#DA7012;
    width:22.222%;
    height:100%;
    display:inline-block;
    margin-left:0px;
    margin-right:-5px;
    padding-left:2px;
    padding-right:0px;

}

.fieldset1 {
    background-color:#058CA6;
}
.fieldset2{
    background-color:purple;
}

.fieldset3{
    background-color:red;
}




